.container {
  display: flex;
}

.footer {
  flex-direction: column;
  text-align: center;
}

.icons {
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 25px;
  justify-content: center;
}

a {
  color: white;
  margin-left: 5px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

